* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
}

body {
  background-color: #11121a;
  display: grid;
  grid-template-columns: auto 1fr;
  color: #e6e6ef;
}
body .hamburger-menu {
  display: none;
}
body .sidebar {
  width: 56px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  background-color: #11121a;
  border-right: 1px solid #42434a;
  height: 100dvh;
  padding: 20px 5px;
  position: sticky;
  top: 0;
  left: 0;
  transition: 300ms ease;
}
body .sidebar.open {
  width: 220px;
}
body .sidebar.open .flex h2 {
  font-size: 22px;
  opacity: 1;
  padding-left: 10px;
}
body .sidebar.open .flex h2 img {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  animation: rotateAnimation 0.4s linear;
  -webkit-animation: rotateAnimation 0.4s linear;
  contain: paint;
}
body .sidebar.open .menu-items .menu-item a span {
  opacity: 1;
  transform: scale(1);
}
body .sidebar.open .contact-sidebar li a span {
  opacity: 1;
  transform: scale(1);
}
body .sidebar.open .separator {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}
body .sidebar.open h4 {
  display: block;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .sidebar .flex {
  display: flex;
  align-items: center;
}
body .sidebar .flex h2 {
  flex-grow: 1;
  font-size: 23px;
  font-size: 0;
  opacity: 0;
  transition: 300ms ease;
}
body .sidebar .flex h2 img {
  width: 0x;
  height: 0px;
  transition: 300ms ease;
}
body .sidebar .flex button {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 8px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
}
body .sidebar .flex button .toggle-btn-icon {
  font-size: 22px;
  padding: 10px;
  color: #e6e6ef;
  transition: 500ms ease;
}
body .sidebar .flex button .toggle-btn-icon.rotate {
  transform: rotate(180deg);
}
body .sidebar .flex button:hover {
  background-color: #222533;
}
body .sidebar .menu-items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .sidebar .menu-items .menu-item a {
  color: #b0b3c1;
  gap: 20px;
  font-size: 16px;
  padding: 10px;
  transition: 300ms ease;
}
body .sidebar .menu-items .menu-item a i {
  font-size: 26px;
}
body .sidebar .menu-items .menu-item a span {
  white-space: nowrap;
  opacity: 0;
  transition: 300ms ease;
  transform: scale(0.5);
}
body .sidebar .menu-items .menu-item a:hover {
  background-color: #222533;
  border-radius: 8px;
  color: #e6e6ef;
}
body .sidebar .menu-items .menu-item .active {
  color: #5e63ff;
}
body .sidebar .separator {
  width: 100%;
  margin: 20px 0;
  height: 2px;
  background-color: #b0b3c1;
}
body .sidebar h4 {
  margin: 10px 0;
  padding: 10px;
  white-space: nowrap;
  display: none;
}
body .sidebar .contact-sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .sidebar .contact-sidebar li a {
  padding: 10px;
  color: #b0b3c1;
  gap: 20px;
  font-size: 16px;
  transition: 300ms ease;
}
body .sidebar .contact-sidebar li a i {
  font-size: 26px;
}
body .sidebar .contact-sidebar li a span {
  white-space: nowrap;
  opacity: 0;
  transition: 300ms ease;
  transform: scale(0.5);
}
body .sidebar .contact-sidebar li a:hover {
  background-color: #222533;
  border-radius: 8px;
  color: #e6e6ef;
}
body .mobile-menu {
  position: fixed;
  width: 200px;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
  background-color: #11121a;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  display: none;
  border-top: 1px solid #42434a;
  border-right: 1px solid #42434a;
  box-shadow: 0 0 10px rgba(65, 65, 65, 0.6);
}
body .mobile-menu .title-container .close-icon {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}
body .mobile-menu .title-container .close-icon button {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  outline: none;
  transition: 300ms ease;
}
body .mobile-menu .title-container .close-icon button i {
  font-size: 26px;
  font-weight: 400;
  color: #b0b3c1;
}
body .mobile-menu .title-container .close-icon button:hover {
  background-color: #222533;
}
body .mobile-menu .flex {
  gap: 10px;
}
body .mobile-menu .flex h2 {
  font-size: 18px;
}
body .mobile-menu .flex h2 img {
  width: 35px;
  height: auto;
}
body .mobile-menu .menu-items,
body .mobile-menu .contact-sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 0;
}
body .mobile-menu .menu-items li a,
body .mobile-menu .contact-sidebar li a {
  padding: 5px;
  border-radius: 4px;
  color: #b0b3c1;
  gap: 10px;
}
body .mobile-menu .menu-items li a i,
body .mobile-menu .contact-sidebar li a i {
  font-size: 27px;
}
body .mobile-menu .menu-items li a:hover,
body .mobile-menu .contact-sidebar li a:hover {
  background-color: #222533;
  color: #e6e6ef;
}
body .mobile-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

main {
  padding: 5%;
}
main section {
  background-color: #11121a;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 22px;
  border: 1px solid #42434a;
}

@media (max-width: 650px) {
  body {
    grid-template-columns: 1fr;
  }
  body .sidebar {
    display: none;
  }
  body .hamburger-menu {
    cursor: pointer;
    padding: 5% 5% 0 5%;
    display: flex;
    justify-content: end;
    align-items: center;
    border: none;
    background: transparent;
    outline: none;
  }
  body .hamburger-menu i {
    font-size: 25px;
    color: #b0b3c1;
  }
  body .mobile-menu {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */