@import "variables";

// Global Styles
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	list-style: none;
	text-decoration: none;
}

.flex {
	display: flex;
	align-items: center;
}

body {
	background-color: $base-clr;
	display: grid;
	grid-template-columns: auto 1fr;
	color: $text-clr;

	.hamburger-menu {
		display: none;
	}

	// Base Sidebar
	.sidebar {
		width: 56px;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
		overflow: hidden;
		background-color: $base-clr;
		border-right: 1px solid $line-clr;
		height: 100dvh;
		padding: 20px 5px;
		position: sticky;
		top: 0;
		left: 0;
		transition: 300ms ease;

		&.open {
			width: 220px;

			.flex h2 {
				font-size: 22px;
				opacity: 1;

				img {
					width: 40px;
					height: 40px;
					margin-left: 15px;
					animation: rotateAnimation 0.4s linear;
					// -webkit-animation: rotateAnimation 0.4s linear;
				}
			}
			.menu-items .menu-item a span {
				opacity: 1;
				transform: scale(1);
			}

			.contact-sidebar li a span {
				opacity: 1;
				transform: scale(1);
			}

			.separator {
				opacity: 0;
				width: 0;
				height: 0;
				display: none;
			}

			h4 {
				display: block;
			}
		}
		@keyframes rotateAnimation {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}

		.flex {
			display: flex;
			align-items: center;

			h2 {
				flex-grow: 1;
				font-size: 23px;
				font-size: 0;
				opacity: 0;
				transition: 300ms ease;

				img {
					width: 0x;
					height: 0px;
					transition: 300ms ease;
				}
			}

			button {
				cursor: pointer;
				background: none;
				border: none;
				border-radius: 8px;
				outline: none;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: 300ms ease;

				.toggle-btn-icon {
					font-size: 22px;
					padding: 10px;
					color: $text-clr;
					transition: 500ms ease;

					&.rotate {
						transform: rotate(180deg);
					}
				}

				&:hover {
					background-color: $hover-clr;
				}
			}
		}

		.menu-items {
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.menu-item {
				a {
					color: $secondary-text-clr;
					gap: 20px;
					font-size: 16px;
					padding: 10px;
					transition: 300ms ease;

					i {
						font-size: 26px;
					}

					span {
						white-space: nowrap;
						opacity: 0;
						transition: 300ms ease;
						transform: scale(0.5);
					}

					&:hover {
						background-color: $hover-clr;
						border-radius: 8px;
						color: $text-clr;
					}
				}

				.active {
					color: $accent-clr;
				}
			}
		}

		.separator {
			width: 100%;
			margin: 20px 0;
			height: 2px;
			background-color: $secondary-text-clr;
		}

		h4 {
			margin: 10px 0;
			padding: 10px;
			white-space: nowrap;
			display: none;
		}

		.contact-sidebar {
			display: flex;
			flex-direction: column;
			gap: 10px;

			li a {
				padding: 10px;
				color: $secondary-text-clr;
				gap: 20px;
				font-size: 16px;
				transition: 300ms ease;

				i {
					font-size: 26px;
				}

				span {
					white-space: nowrap;
					opacity: 0;
					transition: 300ms ease;
					transform: scale(0.5);
				}

				&:hover {
					background-color: $hover-clr;
					border-radius: 8px;
					color: $text-clr;
				}
			}
		}
	}

	// Mobile Menu
	.mobile-menu {
		position: fixed;
		width: 60vw;
		height: 100dvh;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 3%;
		background-color: #11121a;
		opacity: 0;
		visibility: hidden;
		transform: translateX(-100%);
		transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
		display: none;
		border-top: 1px solid $line-clr;
		border-right: 1px solid $line-clr;
		box-shadow: 0 0 10px rgba(65, 65, 65, 0.6);

		.title-container .close-icon {
			flex-grow: 1;
			display: flex;
			justify-content: end;

			button {
				padding: 8px;
				border-radius: 4px;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				background: transparent;
				border: none;
				outline: none;
				transition: 300ms ease;

				i {
					font-size: 26px;
					font-weight: 400;
					color: $secondary-text-clr;
				}

				&:hover {
					background-color: $hover-clr;
				}
			}
		}
	}
}

// Main Section
main {
	padding: 5%;

	section {
		background-color: $base-clr;
		margin-bottom: 50px;
		padding: 30px;
		border-radius: 22px;
		border: 1px solid $line-clr;
	}
}

// Responsive Design
@media (max-width: 650px) {
	body {
		grid-template-columns: 1fr;

		.sidebar {
			display: none;
		}

		.hamburger-menu {
			cursor: pointer;
			padding: 5% 5% 0 5%;
			display: flex;
			justify-content: end;
			align-items: center;
			border: none;
			background: transparent;
			outline: none;

			i {
				font-size: 25px;
				color: $secondary-text-clr;
			}
		}

		.mobile-menu {
			display: block;

			.flex {
				gap: 10px;

				h2 {
					font-size: 18px;

					img {
						width: 35px;
						height: auto;
					}
				}
			}

			.menu-items,
			.contact-sidebar {
				width: max-content;
				display: flex;
				flex-direction: column;
				gap: 5px;
				margin: 10px 0;

				li a {
					padding: 5px;
					border-radius: 4px;
					color: $secondary-text-clr;
					gap: 10px;

					&:hover {
						background-color: $hover-clr;
					}
				}
			}
		}

		.mobile-menu.show {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}
}
